<% include partials/head %>
<% include partials/header %>

<div id="boxes">
    <div class="box">
        <h2><%= result.title %></h2>
        <p>Kl. <%= result.tid %></p>
        <p>Dato: <%= result.dato %></p>
        <p><%= result.varighed %> Time</p>  
        <p><%= result.sted %></p>
        <p><%= result.pris %> kr.</p>  
        <p>INFO: <%= result.info %></p>
    </div>
</div>
<% include partials/footer %>
<% include partials/after-footer %>